// ====================================
// Custom
// ====================================

@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');



.home-body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.blog-button {
    border: 1px solid $color-background;
    padding: 10px 15px;
    font-size: 12px;
    text-decoration: none;
}

.grid-container {
    // max-width: 980px;
    max-width: $desktop;
    margin: auto;
}


/* Header
 ================================================== */
header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;

    .header-icon-container {
        width: 100%;
        height: 50px;
        display: grid;
        background-color: $color-background;
    }

    .icons {
        width: 300px;
        height: 0 auto;
        display: flex;
        justify-items: flex-end;
        align-items: center ;
        justify-content: space-between;
        justify-self: end;
        margin-right: 50px;

        a {
            text-decoration: none;
            display: inline;
            color: $color-font;
            font-family: $font-primary;
        }

        span {
            color: $white;
        }
    }
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;

    .nav-logo-container{
        margin-left: 50px ;

        img {
            width: 60px;
            margin-top: 10px;
        }
    }

    .profile-link {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 50px;

        a {
            color: $color-font;
            border-radius: 1px solid;
            font-family: $font-primary;
        }
    }    
}

/* Main
 ================================================== */


 /* Hero
 ================================================== */
 .home-main {
    display: grid;

    .section-hero-container {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        height: 100%;
        background-image: url('../img/hero.jpg');
        background-position: center;
        background-repeat: no-repeat;
        // background-size: cover;
        background-size: inherit;
        background-color: #18181a;
    
        .hero {
            display: grid;
            grid-column: 2;
            justify-items: center;
            height: 350px;
            margin-top: 80px;
    
            .text {
                font-family: $font-primary;
                font-size: 30px;
                font-weight: 700px;
                letter-spacing: 10px;
                line-height: 53px;
                color: $white;
                text-align: center;
                
            }
    
            .button{
                width: 0 auto;
                height: max-content;            background-color: $color-background;
                font-family: $font-primary;         color: $white;
                align-items: center;
                text-decoration: none;
                cursor: pointer;
                padding: 10px;
                margin: 5px;
                border-radius: 3px;
                border: none;
                cursor: pointer;
            }
    
            a {
                font-weight: 700;
                font-size: 18px;
                color: $white;
            }
        }   
    }
 }

/* Blog
 ================================================== */

 // Hero
 .blog-main {
    display: grid;
    .blog-news-container {
        background-color: $gray;
        padding: 0 50px 40px;
        .blog-main-new {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 2fr;
        }
        .blog-news-img-container {
            grid-column: 1;
            img {
                width: 40%;
            }
        }

        .blog-news-info-container {
            grid-column: 2;
            p {
                margin-bottom: 35px;
            }
        }
    }
}

// sections

.blog-posts-container {
    padding: 0 50px 40px;
    h3 {
        border-bottom: 1px solid $gray;  
        padding-bottom: 20px;
        text-align: center;
    }
    .post-container {
        display: inline-block;
        padding-left: 10px;
        max-width: 30%;
        margin-bottom: 50px;
        p {
            margin-bottom: 35px;
        }
        img {
            width: 100%;
        }
    }
}



// /* Footer
//  ================================================== */
 footer{
     width: 100%;
     height: 80px;
     background-color: $black;
     border-top: 35px solid $color-background;
     text-align: center;

     p {
         color: $white;
         
     }

 }


 /* Blog detail
 ================================================== */

 .blog-detail-image-container{
     padding: 0 50px 40px;
     img {
         width: 100%;
     }
 }

 .blog-detail-tags-container{
    padding: 0 50px 40px;
    h3 {
        border-bottom: 1px solid $gray;
        padding-bottom: 20px;
    }
 }

 .blog-detail-main-container{
     h1 {
         font-size: 35px;
     } 
 }

  /* Contact
 ================================================== */
 .contact-main-container{ 
    background-color: $gray;
    //padding: 0 50px 40px;
    width: 100%;
    height: 250px;
    text-align: center;
    padding-bottom: 50px;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    div {
        display: inline-block;
        width: 49.5%;
        height: 100%;
        a {
            border-bottom: 1px solid $gray;
            padding-bottom: 5px;
        }
    }

    .contact-left, .contact-right{
        text-align: initial;
        margin-top: 85px;
    }

    img{
        width: 80px;
        height: 80px;
    }

 }

  /* Perfil
 ================================================== */

 .profile-main-container{
     padding: 70px 40px;
     background-color: $gray;
     margin-bottom: 50px;
     .profile-container{
         display: flex;
        .profile-image-container{
            img {
               width: 320px;
               height: 320px;
               margin-right: 30px;
            }
        }
        .profile-info-container {
            h2 {
                font-size: 32px;
            }
        }
     }
 }


 .profile-main-projects{
     padding:0 50px 40px;
     h3 {
        border-bottom: 1px solid $gray;
        padding-bottom: 35px;
        // text-align: center;
     }
    .projects-main-container {
        display: grid ;
        grid-template-columns: 1fr 1fr 1fr;
        .projects-container{
            padding:0 10px;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
 }